    @import '../../../../../dist/scss/variables.scss';


    :host{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top:20px;

    button{
        border: none;
        border-radius: 50px;
        background: #FFFF00;

        font-size: 16px;
        color: #000000;

        width: 60%;
        padding: 10px;
    }
    }